# Ignore node modules
node_modules/

# Ignore Next.js build output
.next/
out/

# Ignore local environment config
.env.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db
